html {
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

  
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Nunito', sans-serif;
    */

.header {
    background-image: url(/img/bacground/bg-header.png);
    background-repeat: no-repeat;
		background-size: 100%;
}

.logo {
		margin-left: 50px;
		margin-top: 20px;
		display: inline-block;
}

.logosik {
    height: 50px;
    width: 50px;
}

.nav {
    width: 50%;
    height: 25px;
		float: right;
		margin-top: 35px;
}

.nav li>a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
		margin-left: 45px;
}

li>a:hover {
    color: skyblue;
    transition: 0.5s;
}

.nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
		display: inline;
}

